---
import { BingoCard } from '@/components/bingo-card';
import BaseLayout from '@/layouts/base-layout.astro';
import { LANGUAGES, type LangKeys } from '@/lib/config';
import { useTranslations } from '@/lib/utils';

export const getStaticPaths = () => {
  return Object.keys(LANGUAGES).map((lang) => ({
    params: { lang },
  }));
};

const { lang } = Astro.params;
const t = useTranslations(lang as LangKeys);
---

<BaseLayout title={t('card')} lang={lang as LangKeys}>
  <div class="flex justify-center p-6">
    <BingoCard client:load lang={lang as LangKeys} />
  </div>
</BaseLayout>
