---
import type { LangKeys } from '@/lib/config';
import { useTranslations } from '@/lib/utils';
import HeaderLink from './header-link.astro';

type Props = {
  lang: LangKeys;
  type: 'mobile' | 'desktop';
};

const { lang, type } = Astro.props;
const t = useTranslations(lang);
---

<nav class:list={[{ 'hidden flex-auto lg:flex': type === 'desktop' }]}>
  <ul
    class:list={[
      {
        'flex items-center gap-6': type === 'desktop',
        'flex flex-col items-center text-2xl': type === 'mobile',
      },
    ]}
  >
    <HeaderLink type={type} href={`/${lang}/`}>
      {t('draw')}
    </HeaderLink>
    <HeaderLink type={type} href={`/${lang}/card`}>
      {t('card')}
    </HeaderLink>
  </ul>
</nav>
