---
import type { LangKeys } from '@/lib/config';
import { useTranslations } from '@/lib/utils';

type Props = {
  lang: LangKeys;
  type: 'mobile' | 'desktop';
};

const { lang, type } = Astro.props;
const t = useTranslations(lang);
---

<nav class:list={[{ 'hidden flex-auto lg:flex': type === 'desktop', 'py-4': type === 'mobile' }]}>
  <ul
    class:list={[
      {
        'flex items-center gap-6': type === 'desktop',
        'flex flex-col items-center gap-6 text-2xl': type === 'mobile',
      },
    ]}
  >
    <li>
      <a class="hover:text-foreground/80" href={`/${lang}`}>{t('index')}</a>
    </li>
  </ul>
</nav>
