---
import Header from '@/components/header/header.astro';
import { baseUrl, type LangKeys } from '@/lib/config';
import '@/styles/global.css';

interface Props {
  title: string;
  lang: LangKeys;
}

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={`/${baseUrl}/favicon.svg`} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen">
    <Header lang={lang} />
    <slot />
  </body>
</html>
